In [18]:
import torch
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [3]:
phrases = ["le chat mange ses croquettes",
           "le chien aime ses croquettes",
           " le chat ronronne et mange"]

In [15]:
vectorizer = CountVectorizer()
vector = vectorizer.fit_transform(phrases)

In [30]:
print(vectorizer.get_feature_names())
print(type(vector.toarray()))
sum_vector = sum(vector.toarray())
print(type(sum_vector))

['aime', 'chat', 'chien', 'croquettes', 'et', 'le', 'mange', 'ronronne', 'ses']
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [5]:
import pandas as pd
import numpy as np

In [6]:
pd.DataFrame(vector.toarray(), columns=vectorizer.get_feature_names(), index=[f"phrase_{i+1}" for i in range(0,len(phrases))])

          aime  chat  chien  croquettes  et  le  mange  ronronne  ses
phrase_1     0     1      0           1   0   1      1         0    1
phrase_2     1     0      1           1   0   1      0         0    1
phrase_3     0     1      0           0   1   1      1         1    0

In [7]:
tfidf = TfidfVectorizer()
tfidf_vector = tfidf.fit_transform(phrases)

In [8]:
pd.DataFrame(np.around(tfidf_vector.toarray(),2), columns=vectorizer.get_feature_names(), index=[f"phrase_{i+1}" for i in range(0,len(phrases))])

          aime  chat  chien  croquettes    et    le  mange  ronronne   ses
phrase_1  0.00  0.47   0.00        0.47  0.00  0.36   0.47      0.00  0.47
phrase_2  0.53  0.00   0.53        0.41  0.00  0.32   0.00      0.00  0.41
phrase_3  0.00  0.41   0.00        0.00  0.53  0.32   0.41      0.53  0.00

In [34]:
pd.DataFrame([sum_vector], columns=vectorizer.get_feature_names(), index=["sum"])

     aime  chat  chien  croquettes  et  le  mange  ronronne  ses
sum     1     2      1           2   1   3      2         1    2